name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to production
      uses: appleboy/ssh-action@master
      with:
        username: ${{ secrets.username }}
        host: ${{ secrets.host }}
        password: ${{ secrets.password }}
        script: 'cd public_html/laravel && ./server_deploy.sh '
